@import url(normalize.css);

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 1rem;
  background-color: var(--main-color);
}

.main {
  width: 100%;
  padding: 0 1rem;
  max-width: var(--content-width);
  color: var(--text-color-main);
}

:root {
  --content-width: 1440px;
  --tablet-width: 900px;
  --mobile-width: 650px;

  --main-color: #484848;
  --accent-color: #202020;
  --text-color-main: #f5deb3;

  --color-white: #f6f6f6;

  --button-primary-default: #6f634d;
  --button-primary-hover: #8c806b;
}
