.enjoy__container {
  @extend %padding-content;
}

.enjoy__wrapper {
  position: relative;
  padding: 100px;
  overflow: hidden;
  border-radius: 40px;

  @include media-tablet {
    padding: 100px 60px;
  }

  @include media-mobile {
    padding: 60px 16px;
  }
}

.enjoy__offer {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  gap: 40px;
}

.enjoy__title {
  color: $color-text-light;
  @extend %font-heading1;

  margin: 0;

  &_accent {
    @extend %font-accent;
  }
}

.enjoy__text {
  color: $color-text-light;
}

.enjoy__button-text {
  transform: translateX(0);
  @extend %transition;
}

.enjoy__video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -100;
  background: url("../src/img/enjoy/img-hero.jpg") $color-background-container 50% / cover no-repeat;
}