.enjoy__container {
  @extend %padding-content;
}

.enjoy__wrapper{
  padding: 100px;
  border-radius: 40px;
  background: url("../src/img/enjoy/img-hero.jpg") $color-background-container 50% / cover no-repeat;

  @include media-tablet {
    padding: 100px 60px;
  }

  @include media-mobile {
    padding: 60px 16px;
  }
}

.enjoy__offer {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  gap: 40px;
}

.enjoy__title {
  color: $color-text-light;
  @extend %font-heading1;
  
  margin: 0;
    &_accent {
      @extend %font-accent;
    }
}

.enjoy__text {
  color: $color-text-light;
}

.enjoy__button-text {
  transform: translateX(0);
  @extend %transition;
}