.mobile-app__container {
  @extend %padding-content;
  display: flex;
  align-items: center;
  gap: 100px;

  @include media-tablet {
    flex-direction: column;
  }

  @include media-mobile {
    gap: 40px;
  }
}

.mobile-app__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-app__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .icon {
    margin-right: 8px
  }
}

.mobile-app__title {
  margin: 0;
  text-align: left;
  @extend %font-heading2;

  &_accent {
    @extend %font-accent;
  }
}

.mobile-app__button-text {
  display: flex;
  flex-direction: column;
}

.mobile-app__button-text-caption {
  @extend %font-caption;
}

.mobile-app__button-text-link {
  @extend %font-link;
}

.mobile-app__screens {
  max-width: 630px;
  img {
    width: 100%;
    display: block;
  }
}