.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 40px;
  flex: 1 0 0;
  justify-content: center;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  color: $color-text-dark;
  text-decoration: none;
  @include font-link ($color-text-dark);
  @extend %font-link;
}

