.icon {
  display: inline-block;
  width: var(--size);
  height: var(--size);
}

@mixin icon-background {
  background-color: var(--icon-color);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon_logout {
  mask-image: url(../assets/images/logout_icon.svg);
  @include icon-background;
}

.icon_play {
  mask-image: url(../assets/images/play_icon.svg);
  @include icon-background;
}

.icon_continue {
  mask-image: url(../assets/images/right_arrow_icon.svg);
  @include icon-background;
}

.icon_check {
  mask-image: url(../assets/images/question_help_icon.svg);
  @include icon-background;
}
