.icon {
  display: inline-block;
  width: var(--size);
  height: var(--size);
}

@mixin icon-background {
  background-color: var(--icon-color);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon_logout {
  mask-image: url(../assets/images/icons/logout_icon.svg);
  @include icon-background;
}

.icon_play {
  mask-image: url(../assets/images/icons/play_icon.svg);
  @include icon-background;
}

.icon_continue {
  mask-image: url(../assets/images/icons/right_arrow_icon.svg);
  @include icon-background;
}

.icon_check {
  mask-image: url(../assets/images/icons/question_help_icon.svg);
  @include icon-background;
}

.icon_hint {
  mask-image: url(../assets/images/icons/creative_idea_icon.svg);
  @include icon-background;
}

.icon_sound {
  mask-image: url(../assets/images/icons/speaker_none_thin_icon.svg);
  @include icon-background;
}

.icon_pulsate {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
