@import url(normalize.css);

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --content-width: 1440px;
  --tablet-width: 900px;
  --mobile-width: 650px;

  --main-color: #d6a8a8;
  --accent-color: #954747;
  --icon-color: #1b1b1b;

  --text-primary: #1b1b1b;
  --text-secondary: #4e4e4e;
  --text-light: #fdfdfd;
  --background-color: #ebebeb;
  --background-color-dark: #d8d8d8;

  --border-primary: #858585;
  --border-secondary: #696969;

  --button-primary-default: #cdcdcd;
  --button-primary-hover: #dddddd;

  --overlay-color: rgba(0, 0, 0, 0.5);

  --gutter: 1rem;
  --elem-radius: 0.5rem;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--main-color);
}

.hidden {
  display: none;
}
