.header {
  display: flex;
  padding: 1em;
  border-bottom: 5px solid black;
  gap: 1em;
  align-items: center;
}

.search {
  border-radius: 15px;
  flex-grow: 1;
  margin-left: 2em;
  font-size: 1.5em;
  padding: 0.5em;
  border: 2px solid transparent;
  background-color: #eee;
  outline: none;
}

.search:hover {
  border: 2px solid #dddddd;
}

.search:focus {
  border: 2px solid #dddddd;
  background-color: transparent;
}

.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
}

.gallery {
  column-width: 300px;
  column-gap: 15px;
  width: 90%;
  margin: 50px auto;
}

.gallery-img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  transition: 400ms;
}

.gallery-img:hover {
  filter: brightness(0.8);
  cursor: zoom-in;
}

.overlay {
  display: flex;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.overlay_visible {
  visibility: visible;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__user-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.card__user-avatar {
  border-radius: 50%;
}

.card__user-name {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.card__download {
  border-radius: 10px;
  border: transparent;
  background-color: rgb(176, 239, 176);
  color: #0c0c0e;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}

.card__image-wrapper {
  max-width: 100%;
  max-height: 100%;
}

.card__image {
  max-height: 70vh;
  max-width: 90vw;
  margin: 25px 0;
  object-fit: contain;
}

.card__stats {
  display: inline-flex;
  gap: 20px;
}

.card__stats i::before {
  margin-right: 10px;
}

.footer {
  background-color: black;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;
  font-size: 18px;
  padding: 15px 50px;
  line-height: 30px;
  color: whitesmoke;
}

.footer a {
  text-decoration: none;
  transition: 0.3s;
  color: whitesmoke;
}

.footer a img {
  filter: invert(1);
}

.footer a:hover {
  color: red;
}
