.new-game__buttons {
  display: flex;
  width: 100%;
}

.new-game__button {
  &:hover {
    background-color: $background-tab;
  }

  &_active {
    background-color: $background-tab;
    border-bottom: none;
  }
}

.new-game__tab {
  background-color: $background-tab;
}