.score-table__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.score-table__scores {
  width: 100%;
  border: 2px solid var(--border-primary);
  border-radius: 0.25rem;
  border-collapse: collapse;

  td,
  th {
    border: 1px solid var(--border-secondary);
    font-weight: 500;
    padding: 0.25rem;
    text-align: center;
  }
}