.timer {
  grid-area: timer;
  place-self: end center;
  font-size: 3rem;
  @extend %font-monospace;
  border: 1px solid var(--background-color);
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--background-color);

  @include media-tablet {
    font-size: 1.5rem;
  }
}