:root {
  --color-true: #28c38a;
  --color-complete: #2582e7;
}

.game-button {
  min-width: 20%;
  // max-width: 100px;
  justify-content: center;
  --size: 1rem;

  &__icon {
    opacity: 0;
  }

  &__text {
    transform: translateX(calc(var(--size) / 2));
    transition: all 0.5s;
  }

  &_checked {
    transition: all 1s ease;
    --button-hover: var(--color-true);
    --button-bg: var(--color-true);
  }

  &_complete {
    color: var(--text-light);
    transition: all 1s ease;
    --button-bg: var(--color-complete);

    &:not(:disabled):hover {
      color: var(--text-primary);
    }
  }

  &:not(:disabled):hover {
    .game-button__icon {
      animation: fade-in 1s;
      animation-fill-mode: forwards;
    }

    .game-button__text {
      transform: translateX(0);
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
