$border-outer-color: #000000;
$border-inner-color: gray;

$border-primary: #858585;
$border-secondary: #696969;

$ceil-color: #000000;

$background-color-dark: rgb(202, 202, 202);
$color-overlay: rgba(0, 0, 0, 0.5);

$button-bg: #cdcdcd;
$button-bg-hover: lighten($button-bg, 6.25%);

$content-width: 1440px;

$color-icon: #b3b3b3;