$border-outer-color: #000000;
$border-inner-color: gray;

$ceil-color: #000000;

$background-color-dark: rgb(202, 202, 202);

$button-bg: #cdcdcd;
$button-bg-hover: lighten($button-bg, 6.25%);

$content-width: 1440px;