* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../assets/sakura.jpg');
  color: var(--text-primary);
  font-family: 'Hind', sans-serif;
}

p {
  margin: 0;
}