.button {
  --button-bg: var(--button-primary-default);
  --button-hover: var(--button-primary-hover);
  --button-color: var(--text-primary);
  appearance: none;
  cursor: pointer;
  color: var(--button-color);
  border: 1px solid var(--button-bg);
  border-radius: 0.25rem;
  background-color: var(--button-bg);
  padding: 0.25rem;

  &:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
  }

  &_has-icon {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }

  &_link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-primary);
  }

  &_action {
    --button-bg: transparent;
  }

  &:disabled {
    cursor: default;
    opacity: 0.65;

    &:hover {
      --button-hover: var(--button-bg);
    }
  }
}