.icon {
  display: inline-block;
  width: var(--size);
  height: var(--size);
}

.icon_theme-light {
  background-image: url(../assets/theme-light.svg);
  background-repeat: no-repeat;
  background-size: contain;
  --size: 1rem;
}

.icon_theme-dark {
  background-image: url(../assets/theme-dark.svg);
  background-repeat: no-repeat;
  background-size: contain;
  --size: 1rem;
}