.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-overlay;
  z-index: 5;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
  padding: 20px;
  z-index: 10;
  background-color: $background-color-dark;
  border-radius: 20px;
  border: solid 1px $background-color-dark;
}