@font-face {
  font-family: "Smokum";
  src: url("assets/fonts/Smokum-Regular.ttf");
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 1024px;
  height: 700px;
  position: relative;
}

.game {
  background: #eee;
  margin: 0 auto;
}

.top-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
  height: 100px;
  background: bisque;
  position: absolute;
  right: 162px;
  font-family: "Smokum";
}

.menu-item {
  height: 100%;
  cursor: pointer;
}

.menu-item img {
  height: 70%;
  object-fit: cover;
}

.menu-price {
  height: 30%;
  font-size: 24px;
  text-align: center;
  letter-spacing: 4px;
}

.menu-price_red {
  color: red;
}

.menu-money {
  display: flex;
  height: 100%;
  width: 30%;
  font-size: 70px;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.menu-end {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-end img {
  height: 80%;
}

.tooltip {
  visibility: hidden;
  width: 140px;
  font-size: 18px;
  background-color: bisque;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -70px;
  
  opacity: 0;
  transition: opacity 0.3s;
}

.menu-end:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



.menu-date {
  display: flex;
  flex-basis: 15%;
  font-size: 70px;
  align-items: center;
  cursor: default;
}

.sell-button {
  font-family: "Smokum";
  font-size: 26px;
  position: absolute;
  top: 175px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background-color: lightgray;
  padding: 5px 10px;
  letter-spacing: 2px;
}

.sell-button_active {
  background-color: darkgray;
  top: 177px;
}

.sell-right {
  right: 85px;
}

.sell-left {
  left: 85px;
}

.overlay-wrapper {
  display: none;
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.game-over {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  border-radius: 25px;
  font-family: "Smokum";
  background-image: url("assets/modal-background.jpg");
}

.game-over h2 {
  font-size: 64px;
}

.tabs {
  display: flex;
  width: 100%;
}

.tab-label {
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}

.tab-input {
  display: none;
}

.tab-input:checked ~ h2 {
  background-color: #f6d5a6;
  border-radius: 25px;
}

.game-over-tab {
  display: none;
  justify-content: center;
  position: relative;
  background-color: #f6d5a6;
  margin: 0 250px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: -8px 8px 0px 0px #e7bc77;
}

.game-over-tab_active {
  display: flex;
}

.stats {
  font-size: 48px;
  letter-spacing: 1px;
  list-style: none;
  text-align: center;
}

.stats-item:last-child {
  font-size: 64px;
}

.stats-item:last-child::before {
  display: block;
  margin: 20px auto 20px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #0c0c0e;
}

.last-games {
  font-size: 24px;
  text-align: center;
  width: 80%;
}

.last-games-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restart {
  font-family: "Smokum";
  border-radius: 25px;
  border: 1px solid #0c0c0e;
  background-color: #f6d5a6;
  color: #0c0c0e;
  margin: 20px 0 30px;
  padding: 9px 39px;
  font-size: 40px;
  cursor: pointer;
  width: 50%;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
}

.new-game {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  border-radius: 25px;
  font-family: "Smokum";
  background-image: url("assets/modal-background.jpg");
  padding: 50px 100px;
}

.new-game p {
  font-size: 48px;
  text-align: justify;
  margin-bottom: 24px;
}

.user-name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 48px;
  gap: 24px;
}

.user-name-label {
  text-align: center;
  margin-bottom: 24px;
}

.user-name-input {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  font-size: 48px;
  padding: 10px;
  border: 2px solid transparent;
  background-color: #f7d7aa;
  outline: none;
}

.start-game {
  font-family: "Smokum";
  border-radius: 25px;
  border: 1px solid #0c0c0e;
  background-color: #f6d5a6;
  color: #0c0c0e;
  margin: 20px 0 30px;
  padding: 9px 39px;
  font-size: 40px;
  cursor: pointer;
  width: 50%;
  align-items: center;
}

.active {
  display: flex;
}