:root {
  --known-background-color: #d4edda;
  --known-border-color: #c3e6cb;
  --unknown-background-color: #f8d7da;
  --unknown-border-color: #f5c6cb;
  --heading-color: #004085;
  --scrollbar-thumb-color: #6c757d;
  --scrollbar-track-color: #e9ecef;
}

.statistics {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50vw;
  min-height: 50vh;
  gap: var(--gutter);
  padding: var(--gutter);
  align-items: center;
  border-radius: var(--elem-radius);
  background: linear-gradient(var(--background-color), var(--background-color-dark));
  box-shadow: 0 0 20px 7px var(--accent-color);

  &__title {
    color: var(--accent-color);
  }

  &__sentences {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 50vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track-color);
    }
  }

  &__name {
    font-size: 1.5em;
    color: var(--heading-color);

    &_known {
      background-color: var(--known-background-color);
      border: 1px solid var(--known-border-color);
    }

    &_unknown {
      background-color: var(--unknown-background-color);
      border: 1px solid var(--unknown-border-color);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  &__text {
    font: 1em sans-serif;
  }

  &__image {
    max-width: 50%;
    border-radius: 5px;
  }
}

.game-button {
  justify-content: center;
  --size: 1rem;
  transition: opacity var(--animation-duration) ease;
  opacity: 1;
  padding: 0.5rem;

  &__icon {
    opacity: 0;
  }

  &__text {
    transform: translateX(calc(var(--size) / 2));
    transition: all 0.5s;
  }

  &:not(:disabled):hover {
    .game-button__icon {
      animation: fade-in 1s;
      animation-fill-mode: forwards;
    }

    .game-button__text {
      transform: translateX(0);
    }
  }

  &_hidden {
    opacity: 0 !important;
  }
}

.sound-button {
  display: flex;
  margin: 0 1rem;
  --size: 1rem;
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  transition: box-shadow 250ms ease;
  cursor: pointer;

  &_active {
    animation: shadow-pulse 1s infinite;
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 2px 0px rgba(106, 91, 37, 0.61);
  }
  70% {
    box-shadow: 0 0 1px 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 2px 0px rgba(204, 169, 44, 0);
  }
}
