.statistics {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50vw;
  min-height: 50vh;
  gap: var(--gutter);
  padding: var(--gutter);
  align-items: center;
  border-radius: var(--elem-radius);
  background: linear-gradient(var(--background-color), var(--background-color-dark));
  box-shadow: 0 0 20px 7px var(--accent-color);

  &__title {
    color: var(--accent-color);
  }
}

.game-button {
  justify-content: center;
  --size: 1rem;
  transition: opacity var(--animation-duration) ease;
  opacity: 1;

  &__icon {
    opacity: 0;
  }

  &__text {
    transform: translateX(calc(var(--size) / 2));
    transition: all 0.5s;
  }

  &:not(:disabled):hover {
    .game-button__icon {
      animation: fade-in 1s;
      animation-fill-mode: forwards;
    }

    .game-button__text {
      transform: translateX(0);
    }
  }

  &_hidden {
    opacity: 0 !important;
  }
}
