:root {
  --engine-start-button-bg: #326232;
  --engine-start-button-hover: #559555;

  --engine-stop-button-bg: #623232;
  --engine-stop-button-hover: #955555;
}

.garage {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__create {
    margin-top: 1rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__pagination {
    margin-top: 1rem;
  }
}

.garage__items {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem 0;
}

.garage__item {
  display: flex;
  flex-direction: column;
}

.garage__buttons {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
  font-size: 1.5rem;

  button {
    max-width: fit-content;
  }
}

.garage__winner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--accent-color);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.car {
  gap: 1rem;

  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__engine {
    display: flex;
    align-items: center;
    gap: 1rem;

    .button {
      &_start {
        --button-bg: var(--engine-start-button-bg);
        --button-hover: var(--engine-start-button-hover);
      }

      &_stop {
        --button-bg: var(--engine-stop-button-bg);
        --button-hover: var(--engine-stop-button-hover);
      }
    }
  }

  &__road {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 3px dashed var(--color-white);
  }

  &__flag {
    width: 50px;
    height: 50px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__text {
    font-size: 1.5rem;
  }

  button {
    padding: 0.25rem 1rem;
    min-width: 75px;
  }
}

.hidden {
  display: none;
}