.hangman {
  width: 35%;
  position: relative;
}

.hangman__gallows {
  width: 100%;
}

.hangman__man {
  width: 30%;
  height: 50%;
  position: absolute;
  top: 25%;
  right: 0%;
}

.hangman__part {
  position: absolute;
  display: none;

  &_visible {
    display: block;
  }

  &--head {
    width: 100%;
    top: 0%;
    right: 0%;
  }

  &--body {
    width: 5%;
    top: 35%;
    right: 47.5%;
  }

  &--hand-left {
    width: 50%;
    top: 35%;
    right: 48%;
  }

  &--hand-right {
    width: 50%;
    top: 35%;
    right: 2%;
  }

  &--leg-left {
    width: 50%;
    top: 81%;
    right: 48%;
  }

  &--leg-right {
    width: 50%;
    top: 81%;
    right: 2%;
  }
}