.quiz {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.quiz__word {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.quiz__letter {
  border-bottom: 2px solid black;
  width: 2rem;
  height: 3rem;
  font-size: 2rem;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz__hint {
  align-self: center;
}

.quiz__guess-counter {
  align-self: center;
}

.quiz__guess-count {
  color: red;
}

.quiz__keyboard {
  width: 100%;
}