.start {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: var(--gutter);
  padding: var(--gutter);
  align-items: center;
  border-radius: var(--elem-radius);
  background: linear-gradient(var(--background-color), var(--background-color-dark));
  box-shadow: 0px 0px 15px 7px #000000b3;
}

.start__title {
  color: var(--accent-color);
}

.start__description {
  text-align: center;
}
