.start {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: var(--gutter);
  padding: var(--gutter);
  align-items: center;
  border-radius: var(--elem-radius);
  background: linear-gradient(var(--background-color), var(--background-color-dark));
  box-shadow: 0px 0px 15px 7px #000000b3;
}

.start__title {
  color: var(--accent-color);
}

.start__greeting {
  opacity: 0;
  animation: fade-in 2s linear 0.5s;
  animation-fill-mode: forwards;
}

.start__description {
  text-align: center;
}

.start__button {
  width: 100%;
  max-width: 100px;
  justify-content: center;
  --size: 1rem;

  .start__button-icon {
    opacity: 0;
  }

  .start__button-text {
    transform: translateX(calc(var(--size) / 2));
    transition: all 0.5s;
  }

  &:hover {
    .start__button-icon {
      animation: fade-in 1s;
      animation-fill-mode: forwards;
    }

    .start__button-text {
      transform: translateX(0);
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
