$text-shadow:
  -0 -1px 2px #000000,
  0 -1px 2px #000000,
  -0 1px 2px #000000,
  0 1px 2px #000000,
  -1px -0 2px #000000,
  1px -0 2px #000000,
  -1px 0 2px #000000,
  1px 0 2px #000000,
  -1px -1px 2px #000000,
  1px -1px 2px #000000,
  -1px 1px 2px #000000,
  1px 1px 2px #000000,
  -1px -1px 2px #000000,
  1px -1px 2px #000000,
  -1px 1px 2px #000000,
  1px 1px 2px #000000;

.card {
  display: flex;
  align-items: center;
  border: 2px solid #0000;
  border-radius: 4px;
  user-select: none;
  cursor: grab;
  justify-content: center;
  transition:
    color 0.5s ease,
    background 0.5s ease,
    border 5s ease,;
  position: relative;
  color: var(--text-light);

  &_true {
    color: var(--card-true-color);
    background-color: var(--card-true-background-color);
  }

  &_false {
    color: var(--card-false-color);
    background-color: var(--card-false-background-color);
  }

  &_completed {
    border-width: 0;
    .card__text {
      visibility: hidden;
    }
  }

  --g: 0px; /* controls the gap */
  --r: 8px; /* control the circular shapes */

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + var(--r));
    height: 100%;
    mask:
      radial-gradient(var(--r) at 0% 50%, rgba(0, 0, 0, 0) 100%, #000) left/calc(100% - var(--r)) 100% no-repeat,
      radial-gradient(var(--r) at top 50% right var(--r), #000 95%, rgba(0, 0, 0, 0));
  }

  &__text {
    position: relative;
    z-index: 5;
    font-family: Arial;
    font-weight: bold;
    text-shadow: $text-shadow;
    transition: all 0.5s ease;
  }

  &_notVisible {
    background: var(--accent-color) !important;
  }
}
