:root {
  --card-background-color: #f077dc;
  --card-border-color: #6c3463;

  --card-true-color: #28c38a;
  --card-true-background-color: hsla(158, 66%, 46%, 0.12);

  --card-false-color: #ed593b;
  --card-false-background-color: hsla(10, 83%, 58%, 0.12);
}

.game {
  max-width: var(--content-width);
  width: 100%;
  margin: auto;
  display: grid;
  min-height: 100vh;
  column-gap: 1rem;
  row-gap: 1rem;

  grid-template: ". gameBar ." 2fr
    ". gameBoard ." minmax(50dvh, 10fr) ". sources ." 1fr
    ". buttons ." 1fr
    "empty empty empty" 1fr
    / 1fr minmax(50dvw, 3fr) 1fr;
}

.game__game-board {
  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-area: gameBoard;
  border: 1px solid var(--card-border-color);
}

.game__line {
  display: flex;
  border: 1px solid black;
}

.game__sources {
  display: flex;
  grid-area: sources;
}

.game__card {
  display: flex;
  align-items: center;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  padding: 1dvh 0.5dvw;
  user-select: none;
  cursor: grab;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: color, background-color;

  &_true {
    color: var(--card-true-color);
    background-color: var(--card-true-background-color);
  }

  &_false {
    color: var(--card-false-color);
    background-color: var(--card-false-background-color);
  }
}

.game__buttons {
  display: flex;
  grid-area: buttons;
  justify-content: space-around;
}
