.cross {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border: 2px solid var(--border-cross-primary);
  background-color: var(--background-color);
  user-select: none;

  grid-area: cross;
  place-self: center;
}

.cross__bottom {
  display: flex;
  border-top: 2px solid var(--border-cross-primary);
}

.cross__area {
  // width: fit-content;
  border-left: 2px solid var(--border-cross-primary);
}

.cross__row {
  display: flex;
  border-bottom: 1px solid var(--border-cross-secondary);

  &:nth-child(5n) {
    border-bottom: 2px solid var(--border-cross-secondary);
  }

  &:last-child {
    border-bottom: none;
  }
}

%cross-ceil {
  box-sizing: inherit;
  width: var(--ceil-size);
  height: var(--ceil-size);
  padding: 1px;
  text-align: center;
  cursor: pointer;

  &:last-child {
    border: none;
  }
}

.cross__ceil {
  @extend %cross-ceil;
  border-right: 1px solid var(--border-cross-secondary);

  &:not(&:last-child):nth-child(5n) {
    border-right: 2px solid var(--border-cross-secondary);
  }

  &_active {
    background-color: var(--ceil-color);
    box-shadow: var(--ceil-shadow);
  }

  &_cross {
    background: url('../assets/cross.svg') no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.cross__left {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--background-color-dark);
}

.cross__left-ceil {
  @extend %cross-ceil;
  border-right: 1px solid var(--border-cross-secondary);

  &:last-child {
    border-right: none;
  }
}

.cross__top {
  display: flex;
  width: fit-content;
  align-self: flex-end;
  background-color: var(--background-color-dark);
  border-left: 2px solid var(--border-cross-primary);
}

.cross__top-ceil {
  @extend %cross-ceil;
  border-bottom: 1px solid var(--border-cross-secondary);

  &:last-child {
    border-bottom: none;
  }
}

.cross__top-row {
  width: 20px;

  border-right: 1px solid var(--border-cross-secondary);

  &:nth-child(5n) {
    border-right: 2px solid var(--border-cross-secondary);
  }

  &:last-child {
    border-right: none;
  }
}