.game-buttons {
  display: flex;
  grid-area: buttons;
  // place-self: start center;
  gap: 1rem;
  justify-content: center;
  background-color: var(--background-color);
  height: fit-content;
  padding: 1rem;
  border: 1px solid var(--background-color);
  border-radius: 1rem;
}

.game-buttons__button {
  max-width: 100px;
  width: 25%;
}