:root {
  --table-bg-color: #585858;
  --table-head-bg-color: #3e3e3e;
  --table-border: #aeaeae;
}

.winners {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    font-size: 2rem;
  }

  &__table {
    width: 100%;
    margin: 1rem 0;
  }
}

.table {
  background-color: var(--table-bg-color);

  &__head {
    background-color: var(--table-head-bg-color);
  }

  &__td {
    outline: 2px solid var(--table-border);
    padding: 0.25rem;
    text-align: center;

    &_sortable {
      cursor: pointer;
    }

    &_sort_asc {
      &::after {
        content: '↓';
        position: absolute;
        margin-left: 0.25rem;
      }
    }

    &_sort_desc {
      &::after {
        content: '↑';
        position: absolute;
        margin-left: 0.25rem;
      }
    }
  }

  &__car {
    svg {
      width: 80px;
      height: 50px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__text {
    font-size: 1.5rem;
  }

  button {
    padding: 0.25rem 1rem;
    min-width: 75px;
  }
}

.hidden {
  display: none;
}
