.switcher {
  display: flex;
  align-self: flex-start;
  gap: 1rem;
}

.switcher__level {
  display: flex;
}

.switcher__select {

  &_checked {
    background-color: var(--checked-color);
  }

  &_active {
    background-color: var(--active-color);
  }
}
