body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.wrapper {
  backdrop-filter: blur(10px);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.player {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 75vh;
  max-height: 600px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  overflow: hidden;
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(rgb(197, 185, 185), rgb(31, 29, 29));
  box-shadow: 0px 0px 15px 7px #000000b3;
}

.player h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.info-button {
  appearance: none;
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 3px;
  top: 8px;
  cursor: pointer;
}

.cover {
  width: 100%;
  height: 50%;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.song-name {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.artist-name {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.progress {
  position: relative;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #0088cc 0%,
    #0088cc var(--progress, 0%),
    gray var(--progress, 0%),
    gray 100%
  );
  height: 10px;
  border-radius: 10px;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 25%;
  background-color: white;
  margin-top: -3px;
}

.volume {
  display: flex;
  width: 80%;
  align-self: center;
  justify-content: center;
}

.volume-ico {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.volume-bar {
  width: 60%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin: 0 10px;
}

.volume-bar::-webkit-slider-runnable-track {
  background-color: gray;
  height: 10px;
  border-radius: 10px;
}

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 25%;
  background-color: white;
  margin-top: -3px;
}

.current-time {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: rgb(197, 185, 185);
  font-size: 14px;
  font-weight: normal;
}

.duration-time {
  position: absolute;
  right: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(197, 185, 185);
  font-size: 14px;
  font-weight: normal;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.control-btn {
  height: 40px;
  width: 40px;
  filter: invert(1);
  cursor: pointer;
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
}

.control-btn img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  backdrop-filter: blur(5px);
  transition: all 300ms;
  opacity: 0;
  transform: rotateX(-90deg);
  transition: all 0.3s;
}

.overlay_active {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg);
}

.info {
  position: relative;
  top: 50px;
  padding-bottom: calc(56.25% + 52px);
  height: 0;
}

.footer {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;
  font-size: 18px;
  padding: 15px 50px;
  line-height: 30px;
  color: whitesmoke;
}

.footer a {
  text-decoration: none;
  transition: 0.3s;
  color: whitesmoke;
}

.footer a img {
  filter: invert(1);
}

.footer a:hover {
  color: red;
}
