.link-button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  @include font-link ($color-text-dark)
}

.link-button__text {
  color: $color-text-dark;
  margin-right: 8px;
  @extend %font-link;
}

.button {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @extend %transition;

  &_primary {
    gap: 8px;
    width: 200px;
    height: 64px;
    padding: 20px 64px;
    border-radius: 100px;
    background-color: $color-background-body;
    border-color: $color-background-body;

    &:not(:hover) {
      .icon {
        opacity: 0;
      }

      .enjoy__button-text {
        transform: translateX(12px);
      }
    }
  }

  &_app {
    width: 200px;
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid $color-border-dark;
    justify-content: start;

    &:hover {
      color: $color-text-light;
      background-color: $color-background-container;
      border-color: $color-background-container;
      fill: $color-text-light;
    }
  }

  &_icon-dark {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $color-border-dark;
    background-color: transparent;

    &:hover {
      background-color: $color-background-container;

      .icon_next {
        stroke: $color-text-light;
      }

      .icon_prev {
        stroke: $color-text-light;
      }
    }
  }

  &_icon-light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $color-border-light;
    background-color: transparent;

    &:hover {
      background-color: $color-border-light;

      .icon {
        stroke: $color-text-dark;
      }
    }
  }
}