.icon {
  display: inline-block;
  @extend %transition;
}

.icon_cup {
  background-image: url(../src/img/icons/coffee-cup.svg);
  width: 20px;
  height: 20px;
}

.icon_pin {
  background-image: url(../src/img/icons/pin.svg);
  width: 20px;
  height: 20px;
}

.icon_phone {
  background-image: url(../src/img/icons/phone.svg);
  width: 20px;
  height: 20px;
}

.icon_clock {
  background-image: url(../src/img/icons/clock.svg);
  width: 20px;
  height: 20px;
}

.icon_coffee {
  background-image: url(../src/img/icons/coffee.svg);
  width: 17px;
  height: 17px;
}

.icon_tea {
  background-image: url(../src/img/icons/tea.svg);
  width: 17px;
  height: 17px;
}

.icon_dessert {
  background-image: url(../src/img/icons/dessert.svg);
  width: 17px;
  height: 17px;
}

.icon_info {
  background-image: url(../src/img/icons/info.svg);
  width: 16px;
  height: 16px;
}

.icon_spinner {
  background-image: url(../src/img/icons/spinner.svg);
  width: 64px;
  height: 64px;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
      transform: rotate(0deg);
  } 50% {
      transform: rotate(180deg);
  } 100% {
      transform: rotate(360deg);
  }
}

.icon_next {
  width: 24px;
  height: 24px;
  stroke: $color-border-dark;
}

.icon_prev {
  width: 24px;
  height: 24px;
  stroke: $color-border-dark;
}

.icon_store {
  width: 36px;
  height: 36px;
  fill: $color-text-dark;
}

.icon_twitter {
  width: 24px;
  height: 24px;
  stroke: $color-text-light;
  fill: none;
}

.icon_instagram {
  width: 24px;
  height: 24px;
  stroke: $color-text-light;
  fill: none;
}

.icon_facebook {
  width: 24px;
  height: 24px;
  stroke: $color-text-light;
  fill: none;
}

.icon_refresh {
  width: 24px;
  height: 24px;
  stroke: $color-text-dark;
  fill: none;
}