.icon {
  display: inline-block;
}

.icon_cup {
  background-image: url(../src/img/icons/coffee-cup.svg);
  width: 20px;
  height: 20px;
  @extend %transition;
}

.icon_next {
  width: 24px;
  height: 24px;
  @extend %transition;
}

.icon_prev {
  width: 24px;
  height: 24px;
  @extend %transition;
}

.icon_store {
  width: 36px;
  height: 36px;
  @extend %transition;
}